<header class="bg-black/75 shadow-sm text-white">
  <p class="text-center text-2xl font-light md:text-3xl lg:text-4xl">SUPERHEROES</p>
  <nav class="p-3">
    <ul class="flex justify-center gap-3">
      <li class="border-white p-2"><a href="/api/heroes">Dashboard</a></li>
      <li class="border-white p-2"><a href="/api/heroes/agregar">Agregar</a></li>
      <li class="border-white p-2"><a href="">Buscar</a></li>
    </ul>
  </nav>
</header>
