@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100dvh;
  font-size: 16px;
  color: black;
}

body {
  /* background-image: linear-gradient(-155deg, #202020 0%, #101010 100%); */
  background-attachment: fixed;
  min-width: 320px;
}

@layer base {
  h1 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }
  h3,
  h4,
  h5 {
    @apply text-md sm:text-lg md:text-xl lg:text-2xl;
  }
}
